.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 40px;


    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url('../../assets/logo.png') center center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
                background-size: 70%;
                margin-left: -58px;


            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i.fas.fa-question-circle {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }

                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;
                    span {
                        color: blue;
                    }

                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

    }
}

.home-header-banner {
    background-image: url('../../assets/header-background.jpg');
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;


    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        height: 65%;
        padding-top: 15px;

        .title1 {
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px #333;
            margin-top: 60px;
            margin-bottom: 5px;
            color: white;
        }

        .title2 {
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 15px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 438px;
                background: transparent;
                border: none;
                outline: none;
            }
        }

    }

    .content-down {
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .options {
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;


            .option-child {
                width: 125px;


                .icon-child {
                    padding: 10px;
                    border-radius: 50%;
                    background: white;
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    text-align: center;

                    i {
                        font-size: 20px;
                        color: #49bce2;
                    }

                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500px;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }

                }
            }

        }
    }



}